/* Reset and base styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    box-shadow: 0 4px 2px -2px gray;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.menu {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    margin: 10px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 700;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.categories, .levels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.categories a, .levels a {
    margin: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form input, form select, form button {
    padding: 10px;
    margin: 5px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 2px -2px gray;
}

.questions {
    text-align: left;
    margin-top: 20px;
}

.question {
    margin-bottom: 20px;
}

/* Hero section styles */
.hero {
    background-color: #f8f9fa; /* Light background color */
    padding: 80px 20px;
    text-align: center;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.hero h1 {
    font-size: 3rem;
    color: #333; /* Dark text color */
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5rem;
    color: #666; /* Slightly darker text color */
    margin-bottom: 30px;
}

.cta-buttons {
    display: flex;
    justify-content: center;
}

.btn-primary {
    background-color: #007bff; /* Primary button color */
}

.btn-primary:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

.btn-secondary {
    background-color: #6c757d; /* Secondary button color */
}

.btn-secondary:hover {
    background-color: #5a6268; /* Darker shade on hover */
}
